/* _____________
  General Style
________________*/

/* Changing the body background to fit with the color scheme that was layed out in module 1 course project */
body {
  background-color: #171717;
}

/* adding the ID selector */
#para1 {
  background-color: #FF9551
}

table.
/* _______________
  Typography
_______________ */

/* We are changing the default font used on the website */
@font-face {
  font-family: 'PoppinsBold';
  src: url(fonts/Poppins-Bold.ttf);
  font-family: 'Popppins';
  src: url(fonts/Poppins-Regular.ttf);
  font-family: 'PoppinsLight';
  src: url(fonts/Poppins-Light.ttf);
}

/* adding formatting to <a> link attributes, including color and font change */
a:link {
  color: #FFF80A;
  font-family: 'PoppinsLight';
}

/* adding formatting to <a> visited attributes, including color and font change */
a:visited {
  color: #FEB139;
  font-family: 'PoppinsLight';
}

/* adding formatting to <p> attributes, including color and font change */
p {
  color: #EDEDED;
  font-family: 'Poppins', sans-serif;
}

div {
  color: #EDEDED;
  font-family: 'Poppins', sans-serif;
}

/* _______________________
  Header and Main Navigation
__________________________*/

/* adding formatting to <h1> attributes, including color and font change */
h1 {
  color: #DA0037;
  font-family: 'PoppinsBold', sans-serif;
  text-align: center;
}

h2 {
  color: #DA0037;
  font-family: 'PoppinsBold', sans-serif;
  text-align: center;
}

/* NAVIGATION BAR */
.link_nav {
  border: solid;
  border-width: medium;
  border-color: #DA0037;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}